In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
data_train=pd.read_csv("/content/mobile_data_train.csv")
data_test=pd.read_csv("/content/mobile_data_test.csv")

In [ ]:
data_train.isnull().sum()

battery_power    0
blue             0
clock_speed      0
dual_sim         0
fc               0
four_g           0
int_memory       0
m_dep            0
mobile_wt        0
n_cores          0
pc               0
px_height        0
px_width         0
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [ ]:
data_train=data_train.fillna(data_train.mean())

In [ ]:
data_train

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0               842     0          2.2  ...             0     1            1
1              1021     1          0.5  ...             1     0            2
2               563     1          0.5  ...             1     0            2
3               615     1          2.5  ...             0     0            2
4              1821     1          1.2  ...             1     0            1
...             ...   ...          ...  ...           ...   ...          ...
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[2000 rows x 21 columns]

In [ ]:
data_test=data_test.fillna(data_test.mean())

In [ ]:
data_test

      battery_power   blue  clock_speed  ...  three_g  touch_screen   wifi
0           1043.00  1.000       1.8000  ...    0.000           1.0  0.000
1            841.00  1.000       0.5000  ...    1.000           0.0  0.000
2           1807.00  1.000       2.8000  ...    0.000           1.0  1.000
3           1546.00  0.000       0.5000  ...    1.000           1.0  0.000
4           1434.00  0.000       1.4000  ...    1.000           0.0  1.000
...             ...    ...          ...  ...      ...           ...    ...
1996        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1997        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1998        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1999        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
2000        1248.51  0.516       1.5409  ...    0.756           0.5  0.507

[2001 rows x 20 columns]

In [ ]:
data_test.nunique

<bound method DataFrame.nunique of       battery_power   blue  clock_speed  ...  three_g  touch_screen   wifi
0           1043.00  1.000       1.8000  ...    0.000           1.0  0.000
1            841.00  1.000       0.5000  ...    1.000           0.0  0.000
2           1807.00  1.000       2.8000  ...    0.000           1.0  1.000
3           1546.00  0.000       0.5000  ...    1.000           1.0  0.000
4           1434.00  0.000       1.4000  ...    1.000           0.0  1.000
...             ...    ...          ...  ...      ...           ...    ...
1996        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1997        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1998        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
1999        1248.51  0.516       1.5409  ...    0.756           0.5  0.507
2000        1248.51  0.516       1.5409  ...    0.756           0.5  0.507

[2001 rows x 20 columns]>

In [ ]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder

In [ ]:
sc=StandardScaler()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train=data_train.iloc[:,:20].values
y_train=data_train.iloc[:,20].values

In [ ]:
x_test=data_test.iloc[:,:20].values

In [ ]:
y_test=data_test.iloc[:,20].values

IndexError: ignored

In [ ]:
y_test

array([], shape=(2001, 0), dtype=float64)

In [ ]:
y_train

array([[1],
       [2],
       [2],
       ...,
       [3],
       [0],
       [3]])

In [ ]:
x_train=sc.fit_transform(x_train)
x_test=sc.fit_transform(x_test)

In [ ]:
ohe=OneHotEncoder()

In [ ]:
y_train=ohe.fit_transform(y_train).toarray()
y_test=ohe.fit_transform(y_test).toarray()

ValueError: ignored

In [14]:
import matplotlib.pyplot as plt
%matplotlib inline

In [43]:
#LSTM RNN

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
import seaborn as sns
import os
from datetime import datetime
import warnings
from tensorflow import keras

In [3]:
data_train=pd.read_csv("/content/Google_Stock_Price_Train.csv")
data_test=pd.read_csv("/content/Google_Stock_Price_Test.csv")

In [4]:
data_train.sample(7)

           Date    Open    High     Low     Close     Volume
267   1/28/2013  374.48  376.39  372.55    748.67  3,266,300
614   6/13/2014  550.75  550.79  544.07    550.25  1,220,500
540   2/27/2014  606.92  609.83  606.23  1,215.87  2,529,400
1155   8/5/2016  773.78  783.04  772.34    782.22  1,801,200
765   1/20/2015  509.60  511.10  504.63    505.51  2,232,000
404   8/13/2013  441.76  442.59  436.46    878.84  2,850,200
611   6/10/2014  558.98  562.06  556.37    559.02  1,351,700

In [5]:
data_train.shape

(1258, 6)

In [6]:
data_test.shape

(20, 6)

In [8]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   object
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: float64(3), object(3)
memory usage: 59.1+ KB

In [10]:
data_train["Date"]=pd.to_datetime(data_train["Date"])
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258 entries, 0 to 1257
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1258 non-null   datetime64[ns]
 1   Open    1258 non-null   float64
 2   High    1258 non-null   float64
 3   Low     1258 non-null   float64
 4   Close   1258 non-null   object
 5   Volume  1258 non-null   object
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 59.1+ KB

In [11]:
data_test["Date"]=pd.to_datetime(data_test["Date"])
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    20 non-null     datetime64[ns]
 1   Open    20 non-null     float64
 2   High    20 non-null     float64
 3   Low     20 non-null     float64
 4   Close   20 non-null     float64
 5   Volume  20 non-null     object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 1.1+ KB

In [22]:
open_data=data_train["Open"]
dataset=open_data.values
training=int(np.ceil(len(dataset)*0.95))
print(training)

1196

In [26]:
dataset=dataset.reshape(-1,1)
print(dataset.shape)

(1258, 1)

In [28]:
import numpy as np

In [30]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
scaled_data=scaler.fit_transform(dataset)
train_data=scaled_data[0:int(training),:]
x_train=[]
y_train=[]
for i in range(60,len(train_data)):
  x_train.append(train_data[i-60:i,0])
  y_train.append(train_data[i,0])
x_train,y_train=np.array(x_train),np.array(y_train)
x_train=np.reshape(x_train,(x_train.shape[0],x_train.shape[1],1))

In [34]:
model=keras.models.Sequential()
model.add(keras.layers.LSTM(units=20,return_sequences=True,input_shape=(x_train.shape[1],1)))
model.add(keras.layers.Dense(20))
model.add(keras.layers.Dense(40))
model.add(keras.layers.Dense(50))
model.add(keras.layers.Dense(70))
model.add(keras.layers.Dense(80))
model.add(keras.layers.Dropout(0.2))
model.add(keras.layers.Dense(1))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 lstm_2 (LSTM)               (None, 60, 20)            1760

 dense_8 (Dense)             (None, 60, 20)            420

 dense_9 (Dense)             (None, 60, 40)            840

 dense_10 (Dense)            (None, 60, 50)            2050

 dense_11 (Dense)            (None, 60, 70)            3570

 dense_12 (Dense)            (None, 60, 80)            5680

 dropout_2 (Dropout)         (None, 60, 80)            0

 dense_13 (Dense)            (None, 60, 1)             81

=================================================================
Total params: 14,401
Trainable params: 14,401
Non-trainable params: 0
_________________________________________________________________

In [35]:
model.compile(optimizer="adam",loss="mean_squared_error")
history=model.fit(x_train,y_train,epochs=10)

Epoch 1/10
36/36 [==============================] - 7s 45ms/step - loss: 0.0937
Epoch 2/10
36/36 [==============================] - 1s 40ms/step - loss: 0.0700
Epoch 3/10
36/36 [==============================] - 1s 39ms/step - loss: 0.0704
Epoch 4/10
36/36 [==============================] - 1s 39ms/step - loss: 0.0689
Epoch 5/10
36/36 [==============================] - 1s 37ms/step - loss: 0.0687
Epoch 6/10
36/36 [==============================] - 1s 38ms/step - loss: 0.0698
Epoch 7/10
36/36 [==============================] - 1s 41ms/step - loss: 0.0690
Epoch 8/10
36/36 [==============================] - 2s 55ms/step - loss: 0.0699
Epoch 9/10
36/36 [==============================] - 2s 54ms/step - loss: 0.0688
Epoch 10/10
36/36 [==============================] - 1s 38ms/step - loss: 0.0685

In [36]:
open_data=data_test["Open"]
dataset=open_data.values
training=int(np.ceil(len(dataset)*0.95))
print(training)

19

In [38]:
dataset=dataset.reshape(-1,1)
print(dataset.shape)

(20, 1)

In [42]:
test_data = scaled_data[training - 60:, :]
x_test = []
y_test = dataset[training:, :]

# Check if there are enough data points for creating x_test
if len(test_data) >= 60:
    for i in range(60, len(test_data)):
        x_test.append(test_data[i-60:i, 0])

    x_test = np.array(x_test)
    x_test = np.reshape(x_test, (x_test.shape[0], x_test.shape[1], 1))

    # predict the testing data
    predictions = model.predict(x_test)
    predictions = scaler.inverse_transform(predictions)

    # evaluation metrics
    mse = np.mean(((predictions - y_test) ** 2))
    print("MSE", mse)
    print("RMSE", np.sqrt(mse))
else:
    print("Not enough data points for testing.")

Not enough data points for testing.